*{
	box-sizing: border-box;
}

body {
	margin-left: 10px;
	font-size: 12pt;
	font-family: monospace;
}

#heading {
	display: block;
	height: auto;
	max-width: 100%;
	/*margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;*/
}

#buttons {
	margin-left: 160px;
	/*text-align: center;*/
	/*position: static;*/
}

button {
	font-weight: bold;
}

#mailboxes {
	float: left;
}

#mailboxes a { 
	text-decoration: none;
	color: white;
	font-family: system-ui;
    font-size: 20px;
}

#mailboxes li {
	list-style-type: none;
	display: block;
}

#mailboxes ul {
	background-color: #808080;
	width: 110%;
    padding: 10px;
}

.current {
	font-weight: bold;
	background-color: #DAA529;
}

#emails {
	float: left;
	margin-left: 40px;
}

#content {
	max-width: 100%;
	margin-right: 20px;
}

/* not working */
input[type=checkbox] {
	border: 2px solid black;
}

@media only screen and (max-width: 720px) {
	#mailboxes {
		width: 93%;
		padding-right: 16px;
	}
	#emails {
		width: 95%;
		padding-right: 16px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 720px) {
	#emails {
		width: 550px;
	}
}
