body {
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 200px;
	font-size: 12pt;
}

#heading img{
	height: 120px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#buttons {
	text-align: center;
	position: relative;
}

