*{
	box-sizing: border-box;
}

body {
	margin-left: 30px;
	margin-right: 100px;
	padding-bottom: 200px;
	font-size: 12pt;
}

#heading {
	display: block;
	height: auto;
	width: auto;
	max-width: 100%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttons {
	text-align: center;
	position: relative;
}

#mailboxes {
	float: left;
}

#mailboxes ul {
	list-style-type: none;
}

.current {
	background-color: lightyellow;
}

#emails {
	float: left;
	margin-left: 40px;
}